.Dictionary section {
  background-color: #e8e8e8;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 40px 0;
}

.header-dictionary {
  margin-top: 50px;
  background: #145374;
  border-radius: 10px;
}

.title-dictionary {
  text-align: center;
  color: white;
  font-size: 70px;
}

.button-dictionary {
  background: white;
  color: #145374;
}
